.main-product-detail-app{
   margin: 7rem 1rem 0;
}

.detail-img{
   display: flex;
   width: 400px;
   height: 400px;
   margin: 0 auto;
   border-radius: 1.6rem;
}

.detail-hover-img{
   display: flex;
   justify-content: center;
   align-items: center;
}
.detail-hover-container{
   margin-top: 1.5rem;
}
.detail-hover-img .detail-hover-container img{
   width: 80px;
   height: 80px;
   display: flex; 
   margin: 0 auto; 
   border-radius: 1.6rem;
}

.detail-heading{
   font-weight: 700;
   font-size: 4.6rem;
   color: var(--primary-color);
   margin-top: 4rem;
   margin-bottom: 0.67rem;
}

.detail-information-container{
   margin-top: 10rem;
}

.detail-quote{
   font-size: 3.4rem;
   font-weight: 500;
   color: var(--primary-color);
   text-align: center;
}

.detail-description{
   font-size: 2.5rem;
   line-height: 5rem;

}
.detail-price{
   font-size: 3.2rem;
   color: var(--primary-color);
   font-weight: bold;

}
.detail-btn{
   margin-top: 2rem;
   width: 100%;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   transition: all 0.2s linear;
}
.detail-btn:hover{
   background-color: var(--primary-color);
   color: white;
}

.detail-checkout-btn{
   width: 100%;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   transition: all 0.2s linear;
   margin-top: 1rem;
}

.detail-checkout-btn:hover{
   background-color: var(--primary-color);
   color: white;
}

.detail-service{
   margin-top: 3rem;
   margin-bottom: 2rem;
}

.detail-service-img{
   width: 17px;
   height: 22px;
}

.detail-service-block{
   display: flex;
   align-items: center;
}

.detail-service-content{
   margin-left: 10px;
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1;
}
.detail-service-content span{
   display: block;
   font-size: 1.2rem;
   font-weight: 400;
}
.btn-secondary:hover{
   color: #fff;
   background-color: var(--primary-color);
}

.services-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 2rem;
   position: relative;
   margin-top: 10rem;
   margin-bottom: 10rem;
}


.services-container{

}

.services-link-direct{
   display: flex;
}

.service-img-outer{
   
}

.service-text{
   display: inline-block;
   vertical-align: middle;
   text-align: left;
   padding-left: 5px;
   width: calc(100% - 40px);
}

.service-title{
   font-size: 13px;
   font-weight: 600;
   color: #222;
   letter-spacing: 0;
   text-transform: uppercase;
}

.service-desc{
   color: #666;
   font-weight: 400;
   font-size: 12px;
   font-style: italic;
}

.services .service-img-outer img {
   width: 40px;
}


@media (min-width: 1024px){
  
}

/* Mobile & Tablet */
@media (max-width: 1023px){

}

/* Table */

@media (min-width: 740px) and (max-width: 1023px){
   
}

/* Mobile */
@media (max-width: 739px){
   .detail-content-container{
      text-align: center;
   }

   .detail-service-block{
      justify-content: center;
   }

   .services-container{
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   }
}



