.main-product-detail-app{
   margin-top: 7rem;
}

.detail-img{
   display: flex;
   width: 400px;
   height: 400px;
   margin: 0 auto;
   border-radius: 1.6rem;
}

.detail-heading{
   font-size: 4.6rem;
   color: var(--primary-color);
}

.detail-information-container{
   margin-top: 10rem;
}

.detail-quote{
   font-size: 3.4rem;
   font-weight: 500;
   color: var(--primary-color);
   text-align: center;
}

.detail-description{
   font-size: 2.5rem;
   line-height: 5rem;

}
.detail-price{
   font-size: 3.2rem;
   color: var(--primary-color);
   font-weight: bold;
   margin: 1rem 0;
}
.detail-btn{
   width: 50%;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   transition: all 0.2s linear;
   margin-top: 5rem;
}
.detail-btn:hover{
   background-color: var(--primary-color);
   color: white;
}

.detail-checkout-btn{
   width: 50%;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   transition: all 0.2s linear;
   margin-top: 1rem;
}

.detail-checkout-btn:hover{
   background-color: var(--primary-color);
   color: white;
}

.detail-service{
   margin-top: 3rem;
   margin-bottom: 2rem;
}

.detail-service-img{
   width: 17px;
   height: 22px;
}

.detail-service-block{
   display: flex;
   align-items: center;
}

.detail-service-content{
   margin-left: 10px;
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1;
}
.detail-service-content span{
   display: block;
   font-size: 1.2rem;
   font-weight: 400;
}
.btn-secondary:hover{
   color: #fff;
   background-color: var(--primary-color);
}

.services-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 2rem;
   position: relative;
   margin-top: 10rem;
   margin-bottom: 10rem;
}


.services-container{

}

.services-link-direct{
   display: flex;
}

.service-img-outer{
   
}

.service-text{
   display: inline-block;
   vertical-align: middle;
   text-align: left;
   padding-left: 5px;
   width: calc(100% - 40px);
}

.service-title{
   font-size: 13px;
   font-weight: 600;
   color: #222;
   letter-spacing: 0;
   text-transform: uppercase;
}

.service-desc{
   color: #666;
   font-weight: 400;
   font-size: 12px;
   font-style: italic;
}

.services .service-img-outer img {
   width: 40px;
}