.modal-login {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.4);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 100;
}

.modal-login.active {
   display: flex;
}

.modal-container i.fa-xmark {
   cursor: pointer;
   position: absolute;
   top: 10px;
   right: 15px;
}

.modal-container {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 50vw;
   max-width: 600px;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 2rem;
   border-radius: 16px;
   max-height: 95vh;
   overflow-y: auto;
   overflow-x: hidden;
   z-index: 100;
}

.modal-header {}

.modal-body {}

.modal-body .modal-title{
   text-align: center;
}

.modal-body .modal-email-input {
   background: #fff;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   border-radius: 16px;
   height: 40px;
   width: 100%;
   padding: 5px 20px;
   transition: all .2s;
   font-size: 1.6rem;
}

.modal-body .modal-password-input {
   background: #fff;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   border-radius: 16px;
   height: 40px;
   width: 100%;
   padding: 5px 20px;
   transition: all .2s;
   font-size: 1.6rem;

}

.modal-footer {}

.modal-footer .btn-login {
   display: block;
   border-radius: 16px;
   height: 39px;
   width: 100%;
   padding: 5px 20px;
   background-color: black;
   color: white;
   text-align: center;
   border: none;
   cursor: pointer;
   transition: .2s all;
   margin-top: 1rem;
}

.modal-footer .btn-login-fb {
   border: 1px solid #ccc;
   background-color: #3B5998;
   color: white;
   width: 100%;
   text-align: center;
   height: 39px;
   border-radius: 16px;
   cursor: pointer;
   margin-bottom: 1rem;
}

.modal-footer .btn-login-fb i{
   font-size: 2rem;
}

.modal-footer .btn-login-gg {
   border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    text-align: center;
    height: 39px;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.modal-footer .modal-new-account a{
   display: inline-block;
   font-size: 1.4rem;
   color: var(--brown-color);
}
.modal-footer .modal-new-account a:hover{
   color: var(--primary-color);
}

.header {
   width: 100%;
   height: 50px;
   background-color: var(--primary-color);
   position: relative;
   position: fixed;
   top: 0;
   z-index: 10;
   transition: all 0.3s;
}

.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo h1 {
   margin: 0;
   color: var(--second-color);
}

.header__logo img {
   width: 100%;
   height: 100%;
}

.header__nav-menu {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: -1px;
}

.header__nav-menu>.header__mennu-item>a {
   display: flex;
   align-items: center;
}

.header__mennu-item:last-child:hover .header__mega-menu {
   visibility: visible;
   opacity: 1;
}

.header__mennu-item:first-child:hover .header__mega-menu {
   visibility: visible;
   opacity: 1;
}

.header__mennu-item:nth-last-child(2):hover .header__menu-about {
   visibility: visible;
   opacity: 1;
}

.header__mennu-item {
   position: relative;
}

.header__menu-item-link {
   font-size: 13px;
   font-weight: 600;
   color: white;
   padding: 17px 30px;
}

.header__menu-item-link:hover {
   color: #F7C96F;
}

.header__nav-actions {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.header__nav-actions a{
  cursor: pointer;
}

.header__nav-actions a i {
   font-size: 2rem;
   color: white;
}


/*------------------header__search-input----------------*/
.header__nav-input-search {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   width: 100%;
   height: 100%;
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
   z-index: 5;
   transition: all 0.1s ease-in;
}

.header__nav-input-search.is-active {
   opacity: 1;
   visibility: visible;
   pointer-events: visible;
}

.header__input-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 532px;
   margin: 0 auto;
   transition: all 0.3s;
}

.header__input-wrapper input {
   flex: 1;
   height: 49px;
   line-height: 52px;
   border: 0px;
   outline: none;
   font-size: 1.4rem;
}


.header__mega-menu {
   width: 150%;
   background-color: var(--brown-color);
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 10;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.25s linear;
}

.img-behind {
   --bluratio: 5px;
   background: url("../img/banner/banner-4.jpg") #ffffff no-repeat center center;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   -webkit-filter: blur(var(--bluratio));
   -moz-filter: blur(var(--bluratio));
   -o-filter: blur(var(--bluratio));
   -ms-filter: blur(var(--bluratio));
   filter: blur(var(--bluratio));
}

.header__mega-menu-wrapper {
   width: 100%;
   height: 100%;
   max-width: 1000px;
   padding-top: 16px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.header__mega-column {
   text-align: center;
}

/* .header__mega-column:first-child{
   position: relative;
}

.header__mega-column:last-child{
   position: relative;
} */

/* .header__mega-column:first-child::after{
   content: "";
   position: absolute;
   width: 233px;
   height: 201px;
   display: block;
   background-image: url("https://mcdn.coolmate.me/image/December2022/mceclip7_46.png");
   background-repeat: no-repeat;
   background-size: contain;
   bottom: -7%;
   left: -60%;
   pointer-events: none;

}
.header__mega-column:last-child::after{
   content: "";
   position: absolute;
   width: 280px;
   height: 150px;
   display: block;
   background-image: url("https://mcdn.coolmate.me/image/December2022/mceclip8_59.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left bottom;
   bottom: -7%;
   right: -70%;
   pointer-events: none;
} */

.header__mega-column:nth-child(2) .header__mega-item:not(:first-child) a {
   color: var(--grey-color);
}

.header__mega-list li.header__mega-item .header__mega-link:hover {
   color: #2F5ACF;
}

.header__mega-title {
   font-size: 1.3rem;
   font-weight: 600;
   margin-bottom: 20px;
   display: inline-block;
   color: var(--second-color);
   transition: all 0.2s linear;
}

.header__mega-title:hover {
   color: #fff;
}

.header__mega-item {
   font-size: 13px;
   font-weight: 500;
   color: white;
   padding: 5px 0px;
}


.header__mega-link {
   font-size: 1.3rem;
   font-weight: 600;
   transition: all 0.2s ease-in;
}

.header__mega-link p {
   font-size: 1.05rem;
   font-weight: 500;
   margin-top: 3px;
}

/* mega-menu-about */
.header__menu-about {
   padding: 16px 0 24px;
   width: 100%;
   background-color: #ffffff;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 11;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.25s linear;
}

.header__menu-about-wrapper {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.row-about {
   display: flex;
   align-items: center;
   margin-left: -9px;
   margin-right: -9px;
}

.header__about-colum {
   max-width: 25%;
   flex: 0 0 25%;
   padding: 9px;
}

.header__about-img-wrapper {
   border-radius: 1.5rem;
   overflow: hidden;
}

.header-menu-about-title {
   font-size: 1.3rem;
   font-weight: 600;
   color: #8e8e8e;
   margin-bottom: 20px;
}

.header__about-img {
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}

.header__about-heading {
   font-size: 1.3rem;
   font-weight: 600;
}

.header__about-content {
   font-size: 1.1rem;
   font-weight: 500;
}

/* -----------------------------homepage-Banner-slider----------------------------*/

.homepage__banner {
   padding-top: 4.9rem;
}

.homepage__banner-wrapper {
   position: relative;
   overflow: hidden;
}

.homepage__baner-slider {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   position: relative;
   max-height: 50rem;
   height: 50rem;
}

.homepage__baner-slider a {
   display: block;
   max-width: 100%;
   width: 100%;
   flex: 0 0 100%;
}

.homepage__baner-slider a::after {
   content: "";
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 25%;
   background-image: linear-gradient(0deg, rgb(0 0 0 / 32%), transparent);
}

.homepage__banner-slide-img {
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}

.homepage__btn-prev-container {
   position: absolute;
   width: 10%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0.3;
   transition: all 0.25s linear;
   cursor: pointer;
   z-index: 1;
}

.homepage__btn-prev-container:hover {
   opacity: 1;
   background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.53333333), transparent);
}

.homepage__btn-prev-container::after {
   /* background below arrow btn */
   content: "";
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.253);
   position: absolute;
   top: 50%;
   left: 30%;
   transform: translate(-50%, -50%);
   z-index: 1;
}

.homepage__btn-prev {
   font-size: 2rem;
   position: absolute;
   left: 30%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.homepage__btn-prev::after {
   content: " ";
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.homepage__btn-next-container {
   position: absolute;
   width: 10%;
   height: 100%;
   top: 0;
   right: 0;
   opacity: 0.3;
   transition: all 1s linear;
   cursor: pointer;
   z-index: 1;
}

.homepage__btn-next-container:hover {
   opacity: 1;
   background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.53333333), transparent);
}

.homepage__btn-next-container::after {
   content: "";
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.253);
   position: absolute;
   z-index: 1;
   top: 50%;
   right: 30%;
   transform: translate(50%, -50%);
}

.homepage__btn-next {
   font-size: 2rem;
   position: absolute;
   right: 30%;
   top: 50%;
   transform: translate(50%, -50%);
   z-index: 2;
}

.homepage__btn-next::after {
   content: " ";
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


/* ------------------------------card section------------------------- */
.dsp-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 2rem;
}

.patries-wrapper h1,
.gourmet-cakes-wrapper h1,
.cookies-wrapper h1 {
   text-align: center;
}

.patries-cards {}

.card-item {
   border: 1px solid #ccc;
   padding: 10px;
   cursor: pointer;
}

.card-img-container {
   overflow: hidden;
}

.card-img {
   transition: all 0.3s linear;
}

.card-img:hover {
   transform: scale(1.09);
}

.card-content {}

.card-title {
   font-size: 2rem;
   font-weight: 600;
   text-align: center;
   margin-top: 15px;
}

.card-detail {
   font-size: 2rem;
   text-align: center;
   margin-top: 15px;
}

.card-price {
   font-size: 1.8rem;
   text-align: center;
   margin-top: 25px;
}

.gourmet-cakes-cards .card-item img {
   height: 250px;
   object-fit: cover;
}

.cookies-cards .card-item img {
   height: 250px;
   object-fit: cover;
}

.cookies-popup-preview,
.gourmet-cakes-popup-preview,
.patries-popup-preview {
   position: fixed;
   top: 0;
   left: 0;
   min-height: 100vh;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 99;
}

.cookies-popup-preview .card-item,
.gourmet-cakes-popup-preview .card-item,
.patries-popup-preview .card-item {
   display: none;
   background-color: white;
   position: relative;
   text-align: center;
   padding-top: 3rem;
   width: 34rem;
}

.cookies-popup-preview .card-item.active,
.gourmet-cakes-popup-preview .card-item.active,
.patries-popup-preview .card-item.active {
   display: block;
}

.cookies-popup-preview .card-close,
.gourmet-cakes-popup-preview .card-close,
.patries-popup-preview .card-close {
   position: absolute;
   right: 0.4rem;
   top: 0rem;
   font-size: 3rem;
   cursor: pointer;
   transition: transform 0.2s linear;
}

.cookies-popup-preview .card-close:hover,
.gourmet-cakes-popup-preview .card-close:hover,
.patries-popup-preview .card-close:hover {
   transform: rotate(90deg);
}

.cookies-popup-preview .card-img-container,
.gourmet-cakes-popup-preview .card-img-container,
.patries-popup-preview .card-img-container {
   width: 30rem;
   margin: auto;
}

.cookies-popup-preview .card-img-container .card-img,
.gourmet-cakes-popup-preview .card-img-container .card-img,
.patries-popup-preview .card-img-container .card-img {
   width: 30rem;
}

.cookies-popup-preview .card-payment,
.gourmet-cakes-popup-preview .card-payment,
.patries-popup-preview .card-payment {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   margin-top: 20px;
}

.cookies-popup-preview .card-payment button,
.gourmet-cakes-popup-preview .card-payment button,
.patries-popup-preview .card-payment button {
   flex: 1;
   transition: all 0.2s linear;
}

.cookies-popup-preview .card-payment .btn:first-child:hover,
.gourmet-cakes-popup-preview .card-payment .btn:first-child:hover,
.patries-popup-preview .card-payment .btn:first-child:hover {
   background-color: var(--primary-color);
   color: white;
}

.cookies-popup-preview .card-payment .btn:last-child:hover,
.gourmet-cakes-popup-preview .card-payment .btn:last-child:hover,
.patries-popup-preview .card-payment .btn:last-child:hover {
   opacity: 0.8;
}


/* ------------------homepage-about_section---------------------- */

.homepage__about-1,
.homepage__about-2{
   margin-top: 40px;
}
.homepage-about-left{

}
.homepage-about-right{
   padding: 6rem;
}
.homepage-about-right h2{
   font-size: 34px;
   line-height: 1.15;
}
.homepage-about-right p{
   font-size: 18px;
   font-style: italic;
   line-height: 1.15;
   font-weight: 100;
}

.homepage-about-right .homepage-btn{
   border: 1px solid var(--primary-color);
   color: black;
   transition: all 0.2s linear;
}
.homepage-about-right .homepage-btn:hover{
   background-color: var(--primary-color);
   color: white;
}


/* ---------------------------footer----------------------- */
.footer {
   margin-top: 1.5rem;
   padding: 5rem 0 10rem;
   background-color: var(--brown-color);
}

.footer-container {}

.footer-container h3 {
   text-transform: capitalize;
   font-size: 2.2rem;
   /* color: var(--primary-color); */
   color: var(--second-color);
   padding: 1rem 0;
}

.footer-container .share a.fab {
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   border-radius: 10%;
   font-size: 1.7rem;
   background: var(--second-color);
   color: var(--white);
   margin-right: 0.3rem;
   text-align: center;
   transition: all 0.3s linear;
}

.footer-container .share a.fab:hover {
   opacity: 0.8;
}

.footer-container .link {
   font-size: 1.7rem;
   line-height: 2;
   color: white;
   padding: 0.5rem 0;
   display: block;
}

.footer-container .link:hover {
   color: var(--second-color);
}

.footer-container p {
   font-size: 1.5rem;
   line-height: 2;
   color: rgb(255, 255, 255);
   padding: 0.5rem 0;
}

.footer-copyright{
   margin-top: 15px;
   text-align: center;
}