<div class="main-about">
   <div class="about-img-above">
      <h1 class="about-img-heading">About Us</h1>
      <span class="about-img-des">Superior Place Of Culinary</span>
   </div>
   <div class="grid wide">
      <div class="about-content-container">
         <div class="introduce-container">
            <div class="row">
               <div class="col l-12 m-t-12 c-12">
                  <p class="introduce-para">
                     Since its launch, “Bakerz Bite” has developed into a reputable bakery & café, specializing in baked goods,
                     passionately made from the finest ingredients.
                     Bakerz Bite offers a wide range of baked goods made fresh in-store every day. The bakery chain offers more
                     than 300 different kinds of baked goods, including artisan pastries, gourmet cakes and desserts, and
                     handcrafted beverages.
                        <span class="introduce-img">
                           <img src="img/standee/standee3.jpg" alt="">
                        </span>
                     The brand takes pride in sourcing and using carefully selected ingredients and promises to bring freshness
                     and quality to its customers. Bakerz Bite continues to expand and embrace innovation in all markets.
                     We believe and are dedicated in delivering premium quality products. So we only use real butter, cream and
                     unbleached flour. We treat our Customers as our family and will not use any ingredient which we will not
                     want to feed ours.
                  </p>
               </div>
               <!-- <div class="col l-6 m-t-12 c-12">
                  <div class="introduce-img">
                     <img src="../img/standee/standee3.jpg" alt="">
                  </div>
               </div> -->
            </div>
         </div>

         <div class="proud-sectionc-container">
            <div class="proud-section">
               <p class="proud-section-baker">Bakerz Bite</p>
               <h1 class="prould-section-core">Core Value</h1>

               <div class="list-proud">
                  <div class="item-proud ">
                     <img class="item-proud-img" ng-src="img/icon/proud-1.png" alt="">
                     <h3 class="item-proud-title">CONSCIENTIOUS</h3>
                  </div>
                  <div class="item-proud ">
                     <img class="item-proud-img" ng-src="img/icon/proud-2.png" alt="">
                     <h3 class="item-proud-title">ACKNOWLEDGE</h3>
                  </div>
                  <div class="item-proud ">
                     <img class="item-proud-img" ng-src="img/icon/proud-3.png" alt="">
                     <h3 class="item-proud-title">CREATIVE</h3>
                  </div>
                  <div class="item-proud ">
                     <img class="item-proud-img" ng-src="img/icon/proud-4.png" alt="">
                     <h3 class="item-proud-title">DEDICATE</h3>
                  </div>
                  <div class="item-proud ">
                     <img class="item-proud-img" ng-src="img/icon/proud-5.png" alt="">
                     <h3 class="item-proud-title">LOVE</h3>
                  </div>
               </div>

               <div>
                  <div class="nutrition-container">
                     <div class="box-new-useful">
                        <p class="text">
                           BakerzBite, with a huge passion for cakes, wants to bring you more choices, at higher standards
                        </p>
                        <ul class="list-item">
                           <li>Tasty, nutritious and <br> safe meals</li>
                           <li>Enjoyable "cake in heart"<br> experience</li>
                         
                        </ul>
                        <ul class="list-item">
                           <li>Convenient ordering <br>and payment platforms</li>
                           <li>Economical &amp; reliable daily<br> eating solution</li>
                        </ul>
                     </div>
                  </div>
               </div>

            </div>
         </div>
         <div class="services-container-about">
            <div class="services-about-about">
               <div class="services-link-direct-about" href="">
                  <div class="service-img-outer-about">
                     <img src="img/icon/icon-free-ship.png">
                  </div>
                  <div class="service-text-about">
                     <div class="service-title-about">FREE SHIP</div>
                     <div class="service-desc-about">Free shipping</div>
                  </div>
               </div>
            </div>
            <div class="services-about">
               <div class="services-link-direct-about" href="">
                  <div class="service-img-outer-about">
                     <img src="img/icon/icon-support-247.png">
                  </div>
                  <div class="service-text-about">
                     <div class="service-title-about">24-24 SERVICE</div>
                     <div class="service-desc-about">Customer support is always here
                        to help you</div>
                  </div>
               </div>
            </div>
            <div class="services-about">
               <div class="services-link-direct-about" href="">
                  <div class="service-img-outer-about">
                     <img src="img/icon/icon-discount.png">
                  </div>
                  <div class="service-text-about">
                     <div class="service-title-about">UP TO 10% OFF</div>
                     <div class="service-desc-about">Receive 3-10% discount</div>
                  </div>
               </div>
            </div>
            <div class="services-about">
               <div class="services-link-direct-about" href="">
                  <div class="service-img-outer-about">
                     <img src="img/icon/icon-vat.png">
                  </div>
                  <div class="service-text-about">
                     <div class="service-title-about">PRICE INCLUDE 10% VAT</div>
                     <div class="service-desc-about">We support online
                        payment via e-wallets.</div>
                  </div>
               </div>
            </div>
            <div class="services-about">
               <div class="services-link-direct-about" href="">
                  <div class="service-img-outer-about">
                     <img src="img/icon/icon-quick-delivery.png">
                  </div>
                  <div class="service-text-about">
                     <div class="service-title-about">FAST DELIVERY IN 60 MINUTES</div>
                     <div class="service-desc-about">The food always remains fresh and delicious
                        when it is served to your home.</div>
                  </div>
               </div>
            </div>
            <div class="services-about">
               <div class="services-link-direct-about" href="">
                  <div class="service-img-outer-about">
                     <img src="img/icon//icon-guarantee-smile.png">
                  </div>
                  <div class="service-text-about">
                     <div class="service-title-about">CUSTOMER SATISFACTION IS A PRIORITY</div>
                     <div class="service-desc-about">100% guarantee smile</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>