<div class="main-about">
   <div class="about-img-above">
      <h1 class="about-img-heading">About Us</h1>
      <span class="about-img-des">A few infomations about us</span>
   </div>
   <div class="grid wide">
      <div class="about-content-container">
         <p>
            Since its launch, “Bakerz Bite” has developed into a reputable bakery & café, specializing in baked goods, passionately made from the finest ingredients.
            Bakerz Bite offers a wide range of baked goods made fresh in-store every day. The bakery chain offers more than 300 different kinds of baked goods, including artisan pastries, gourmet cakes and desserts, and handcrafted beverages.
            The brand takes pride in sourcing and using carefully selected ingredients and promises to bring freshness and quality to its customers. Bakerz Bite continues to expand and embrace innovation in all markets.
            We believe and are dedicated in delivering premium quality products. So we only use real butter, cream and unbleached flour. We treat our Customers as our family and will not use any ingredient which we will not want to feed ours. 
         </p>
      </div>
   </div>
</div>