<footer class="footer">
   <div class="grid wide">
      <div class="footer-container">
         <div class="row">     
            <div class="col l-3 m-6 c-12">
                <h3>Address</h3>
                <p>1088 Moore Avenue San Francisco</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="col l-3 m-6 c-12">
                <h3>E-mail</h3>
                <a href="#" class="link">bakerzbite@gmail.com</a>
                <a href="#" class="link">help@gmail.com</a>
            </div>

            <div class="col l-3 m-6 c-12">
                <h3>Call us</h3>
                <p>+61 (2) 1478 2369</p>
                <p>+61 (2) 1478 2369</p>
            </div>

            <div class="col l-3 m-6 c-12">
                <h3>Opening hours</h3>
                <p>Monday - Friday: 9:00 - 23:00 <br> Saturday: 8:00 - 24:00 </p>
            </div>
         </div>
         <p class="footer-copyright">Copyright © 2023 Bakerz Bite Baking Company. All rights reserved.</p>
         
        <div style="text-align: center;" class="visit-count">
            <div style="display: flex; flex-direction: column;" class="visit-count-container">
                <p style="font-size: 2.4rem;">Our website have been visited</p>
                <p style="font-size: 3.4rem; margin-top: -3rem;">{{visitCount}}</p>
                <p style="font-size: 2.6rem; margin-top: -4rem;">times</p>
            </div>
        </div>
     </div>
   </div>
</footer>