<div class="main-product-detail-app">
   <div class="grid wide">
      <div class="row">
         <div class="col l-6">
            <img class="detail-img" ng-src="{{item.imgUrl}}" alt="">
         </div>
         <div class="col l-6">
            <h1 class="detail-heading">{{item.title}}</h1>
            <p class="detail-quote">A liitle products's infomation</p>

            <div class="detail-description">The essential flour for gluten-free bakers.
               The one flour for your gluten-free baking; perfect for converting your favorite recipes into gluten-free versions. Simply substitute King Arthur Gluten-Free Flour 1-1 for an easy and convenient swap for conventional flours. Fortified with iron, calcium, and vitamin B, this carefully tested blend is a must-have for bakers who are new to gluten-free baking or anyone baking gluten-free who wants to enjoy recipes they used to love. Ideal for gluten-free bread, muffins, cookies, cakes, brownies, pancakes, and other non-yeasted recipes.</div>
            <div class="detail-price">Price: ${{item.price}}</div>

            <button ng-click="insertItem(item)" class="btn detail-btn" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
               Add to cart
             </button>
            <!-- <button ng-click="insertItem(item)" class="btn detail-btn">Add to cart</button> -->
            <a ng-href="#/checkout" class="btn detail-checkout-btn">Checkout</a>
            
            <div class="detail-service">
               <div class="detail-service-block">
                  <img class="detail-service-img" src="/img/icon/icon-guarantee.png" alt="">
                  <div class="detail-service-content">
                     OUR GUARANTEE<span> Try us once, <br>trust us always</span>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
         <h5 
         style="font-size: 2rem;
         text-align: center;
         margin-left: 50%;
         transform: translateX(-50%);"
         class="modal-title" id="staticBackdropLabel">BakerzBite</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div style="text-align: center;">
            <i style="font-size: 4em;
            margin: 1rem 0 2rem;
             color: var(--primary-color);
             position: relative;" 
             class="fa-solid fa-cart-plus"></i>
         </div>
         <p style="font-size: 1.6rem; text-align: center;">Product has been added to the cart. <br> We hope you enjoy more of the bakery's delectable treats. </p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <!-- <button type="button" class="btn btn-primary">Understood</button> -->
       </div>
     </div>
   </div>
 </div>