<div class="main-product-detail-app">
   <div class="grid wide">
      <div class="row">
         <div class="col l-6 m-t-12 c-12">
            <img class="detail-img" ng-src="{{item.imgUrl}}" alt="">
            <div class=detail-hover-img>
               <div ng-repeat="itemHover in item.imgHover" ng-click="changeUrl($event)" class="detail-hover-container">
                  <img 
                     ng-src="{{itemHover}}" alt="">
               </div>
            </div>
         </div>
         <div class="col l-6 m-t-12 c-12">
            <div class="detail-content-container" style="display: flex; flex-direction: column; height: 100%;">
               <h1 class="detail-heading">{{item.title}}</h1>
               
               <div class="detail-service">
                  <div class="detail-price">Price: ${{item.price}}</div>
                  <div class="detail-service-block">
                     <img class="detail-service-img" src="img/icon/icon-guarantee.png" alt="">
                     <div class="detail-service-content">
                        OUR GUARANTEE<span> Try us once, <br>trust us always</span>
                     </div>
                  </div>
               </div>
               <div>
                  <button ng-click="insertItem(item)" class="btn detail-btn" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                     Add to cart
                   </button>
                  <!-- <button ng-click="insertItem(item)" class="btn detail-btn">Add to cart</button> -->
                  <a ng-href="#/checkout" class="btn detail-checkout-btn">Checkout</a>
               </div>
            </div>
      </div>
      <div class="detail-information-container">
         <p class="detail-quote">A liitle products's infomation</p>
         <div style="white-space: break-spaces;" class="detail-description">{{item.description}}</div>
      </div>
      <div class="services-container">
         <div class="services">
            <div class="services-link-direct" href="">
               <div class="service-img-outer">
                  <img src="img/icon/icon-free-ship.png">
               </div>
               <div class="service-text">
                  <div class="service-title">FREE SHIP</div>
                  <div class="service-desc">Free shipping</div>
               </div>
            </div>
         </div>
         <div class="services">
            <div class="services-link-direct" href="">
               <div class="service-img-outer">
                  <img src="img/icon/icon-support-247.png">
               </div>
               <div class="service-text">
                  <div class="service-title">24-24 SERVICE</div>
                  <div class="service-desc">24-7 service</div>
               </div>
            </div>
         </div>
         <div class="services">
            <div class="services-link-direct" href="">
               <div class="service-img-outer">
                  <img src="img/icon/icon-discount.png">
               </div>
               <div class="service-text">
                  <div class="service-title">UP TO 10% OFF</div>
                  <div class="service-desc">Receive 3-10% discount</div>
               </div>
            </div>
         </div>
         <div class="services">
            <div class="services-link-direct" href="">
               <div class="service-img-outer">
                  <img src="img/icon/icon-vat.png">
               </div>
               <div class="service-text">
                  <div class="service-title">PRICE INCLUDE 10% VAT</div>
                  <div class="service-desc">Prince include Vat</div>
               </div>
            </div>
         </div>
         <div class="services">
            <div class="services-link-direct" href="">
               <div class="service-img-outer">
                  <img src="img/icon/icon-quick-delivery.png">
               </div>
               <div class="service-text">
                  <div class="service-title">FAST DELIVERY IN 60 MINUTES</div>
                  <div class="service-desc">60 minutes quick delivery</div>
               </div>
            </div>
         </div>
         <div class="services">
            <div class="services-link-direct" href="">
               <div class="service-img-outer">
                  <img src="img/icon//icon-guarantee-smile.png">
               </div>
               <div class="service-text">
                  <div class="service-title">CUSTOMER SATISFACTION IS A PRIORITY</div>
                  <div class="service-desc">100% guarantee smile</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
         <h5 
         style="font-size: 2rem;
         text-align: center;
         margin-left: 50%;
         transform: translateX(-50%);"
         class="modal-title" id="staticBackdropLabel">BakerzBite</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div style="text-align: center;">
            <i style="font-size: 4em;
            margin: 1rem 0 2rem;
             color: var(--primary-color);
             position: relative;" 
             class="fa-solid fa-cart-plus"></i>
         </div>
         <p style="font-size: 1.6rem; text-align: center;">Product has been added to the cart. <br> We hope you enjoy more of the bakery's delectable treats. </p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <!-- <button type="button" class="btn btn-primary">Understood</button> -->
       </div>
     </div>
   </div>
 </div>