<header class="header">
   <div class="grid wide">
      <div class="header__wrapper">

         <div ng-click="toggleNavMoblie()" class="header__nav-bar-moblie">
            <i class="fa-solid fa-bars"></i>
         </div>
         <!-- Header Logo -->
         <div class="header__logo">
            <a href="#/">
               <h1>Barkerz Bite</h1>
            </a>
         </div>

         <!-- Heaer navigation -->
         <ul class="header__nav-menu">
            
            <li class="header__mennu-item">
               <a href="#/" class="header__menu-item-link">Home</a>
            </li>
            
            <li class="header__mennu-item">
               <a href="#/gallery" class="header__menu-item-link">Gallery</a>
            </li>
            <li class="header__mennu-item">
               <a href="#/about" class="header__menu-item-link">About Us</a>
            </li>
            <li class="header__mennu-item">
               <a href="#/contact" class="header__menu-item-link">Contact Us</a>
            </li>
            <li class="header__mennu-item">
               <a href="#/blog" class="header__menu-item-link">Blog</a>
            </li>
         </ul>

         <div class="nav-menu-mobile"
               ng-class="isToggle ? 'nav-menu-mobile--is-active' : ''">
            <div ng-click="toggleNavMoblie()" class="nav-icon-x">
               <i class="fa-solid fa-xmark"></i>
            </div>
            <ul class="menu-list">
              <li ng-click="autoClose()" class="menu-item">
                <a href="#/" class="menu-link">Home</a>
              </li>
              <li ng-click="autoClose()" class="menu-item">
                <a href="#/gallery" class="menu-link">Gallery</a>
              </li>
              <li ng-click="autoClose()" class="menu-item">
                <a href="#/about" class="menu-link">About Us</a>
              </li>
              <li ng-click="autoClose()" class="menu-item">
                <a href="#/contact" class="menu-link">Contact Us</a>
              </li>
              <li ng-click="autoClose()" class="menu-item">
                <a href="#/blog" class="menu-link">Blog</a>
              </li>
            </ul>
         </div>

         <div class="header__nav-actions">
            <a ng-href="#/gallery" class="header__nav-search-btn">
               <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a ng-href="#/login" class="header__nav-user">
               <i class="fa-solid fa-user"></i>
            </a>
            <div class="header__nav-cart">
               <a ng-href="#/checkout"
                  style="display: inline-block; padding: 0 10px; position: relative; z-index: 100;" 
                  ><i class="fa-solid fa-cart-shopping"></i>
               </a>
               <span class="header__cart-notice">{{count}}</span>
               <div class="header__cart">
                  <h1 style="color: var(--primary-color); text-align: center;">Cart</h1>
                  <div class="header__cart-list is-empty">
                     <h2 ng-hide="productItems.length > 0">There are no products yet</h2>
   
                     <div class="header__cart-item" ng-repeat="item in productItems" ng-init="updateTotal()">
                        <img ng-src="{{item.imgUrl}}" alt="">
                        <div class="header__cart-item-info">
                           <div class="header__cart-item-name">{{item.title}}</div>
                           <div class="header__cart-item-price">${{item.price}}</div>
                           <div class="header__cart-item-multi">x</div>
                           <div class="header__cart-item-quantity">{{item.quantity}}</div>
                           <div ng-click="delete(item)" class="header__cart-item-remove"><i class="fa-solid fa-trash"></i></div>
                        </div>
                     </div>
                  </div>
                  <div class="header__cart-checkout">
                     <p>Total: <span class="header__cart-total-price">${{totalPrice}}</span></p>
                     <a ng-href="#/checkout" class="btn header__cart-btn">View cart</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>